.contentsBox{
    background-color: white;
    padding:20px 20px 20px 20px;
    color: #5d5d5d;
    margin-bottom: 70px;
}
.contentsBox h3{
    color: black;
}
.contentsBox h4{
    text-align: left;
    
}
.contentsBox .contents{
    display: flex;
    text-align: left;
    padding-top: 20px;
}