.main{
    width: 100%;
    height: 40px;
    margin: 5px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f3;
}
.main .name{
    color: #5d5d5d;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    font-size: 15px;
    padding-bottom: 10px;
}
.main span{
    font-size: 1.5rem;
    font-weight: 600;
}
.diesel{
    color:#005f11
}
.gasoline{
    color:#d1bf00
}