.pannel{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #ffffff;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}
.pannel h3{
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
    position:relative;
}
.pannel h3 span:nth-child(1){
    color: #666666;
}
.pannel h3 span:nth-child(2){
    right: 0px;
    top: 5px;
    color: #cccccc;
    font-weight: 400;
    font-size: 0.8rem;
    position: absolute;
    /* background-color: aqua; */
}
.pannel ul{
    list-style-type: none;
    padding: 0px;
    width: 100%;
}
.pannel ul li{
    padding: 5px 0px 5px 0px;
    text-align: left;
    font-size: 14px;
}

.pannel .freeBoard{
    text-align: left;
    font-size: 14px;
    color: #5d5d5d;
    display: flex;
    flex-direction: row;
}
.pannel .freeBoard .name{
    display: flex;
    min-width: 60px;
}
.pannel .freeBoard .title{
    display: flex;
    max-width: calc(100vw - 60px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}