.pannel{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #ffffff;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin-top: 5px;
}
.pannel h3{
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
    position:relative;
}
.pannel h3 span:nth-child(1){
    color: #666666;
}
.pannel h3 span:nth-child(2){
    right: 0px;
    top: 5px;
    color: #cccccc;
    font-weight: 400;
    font-size: 0.8rem;
    position: absolute;
    /* background-color: aqua; */
}
.pannel ul{
    list-style-type: none;
    padding: 0px;
    width: 100%;
}
.pannel ul li{
    text-align: left;
}